$color-black: #000000;
$color-white: #ffffff;
$color-grey-white: #f1f1f1;

$color-grey: #333333;
$color-violet: #8d4fdb;
$color-grey-light: #a9afb3;
$color-grey-dark: #8b8b8b;

$background-color: #928979;
$background-grey: #00000066;