$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;

$font-size: 16px;
$line-height: 1.19;
$line-height-xxxlg:2;
$line-height-xxlg: 1.76;
$line-height-xxlgm: 1.55;
$line-height-xlg: 1.46;
$line-height-xl: 1.38;
$line-height-xlsm: 1.35;
$line-height-lg: 1.25;
$line-height-lgsm: 1.2;
$line-height-sm: 1.056;
$line-height-xsm: 1;

$container-width-md: 940px;
$container-width-sm: 800px;

$ul: 1380px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;

$gap: 20px;
$gap-sm: $gap * 0.5; // 10px
$gap-md: $gap * 0.75; // 15px
$gap-lg: $gap * 1.5; // 30px
$gap-xl: $gap * 2; // 40px